/* global */
:root {
    box-sizing: border-box; 

    touch-action: none;

    --vh: 1vh; 
}
*, 
::before, 
::after {
    box-sizing: inherit; 
    margin: 0; 
    padding: 0; 

    touch-action: inherit; 
}
body {
    width: 100vw; 
    max-height: 100vh; 
    overflow: hidden; 
    
    font-family: Helvetica, sans-serif; 
    background-color: #CCC; 

    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

/* keys */
.keyboard {
    position: fixed; 
    left: 50%; 
    width: 50vw; 
    height: calc(100 * var(--vh)); 

    background-color: #F0F; 
    
    display: flex; 
    flex-direction: column-reverse; 
}
.key {
    flex: 1 1 100%; 

    background-color: #FFF; 

    border: 1px solid #888; 
}
.key.black {
    width: 50%; 
    /* height: calc(var(--vh) * 8.5);  */
    flex: 0 0 0; 
    object-fit: cover; 

    background-color: #000; 
}